{% macro list_pages() %}
<div class="fixed-grid has-1-cols">
  {%- if paginator.pages -%}
  <div class="grid">
    {%- for page in paginator.pages -%}
    <div class="box cell">
      <h4 class="is-4"><a href="{{ page.permalink }}">{{ page.title }}</a></h4>
      <h6 class="subitle is-6 has-text-weight-light">{{ pages::meta(page=page, author=config.extra.show_author) }}</h6>
      <div class="block">
        {% if page.description -%}
        {{ page.description }} <a href="{{ page.permalink }}">Read Further →</a>
        {% endif -%}
      </div>
    </div>
    {%- endfor -%}
  </div>
  {%- endif -%}
</div>
{% endmacro list_pages %}